# Database Configuration
DATABASE_URL="postgresql://neondb_owner:password@ep-damp-rice-a18wphfq-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Xendit Configuration
XENDIT_SECRET_KEY="xnd_development_QWl9ID4N5bPlu9Oqm7dEvlA8LOLRaAn6kf6njXaNqHMWDUHJR54XWpF9qdUJ2m"
XENDIT_WEBHOOK_TOKEN="your-webhook-verification-token"

CLIENT_URL="http://localhost:5173"